body{
background:#020617;
overflow:hidden;
}

.portfolio{

width:100%;
height:100vh;

display:flex;
align-items:center;
justify-content:center;

overflow:hidden;

}

.carousel{

display:flex;
align-items:center;

cursor:grab;

}

.card{

width:900px;
height:480px;

border-radius:30px;

background:linear-gradient(135deg,#294a7a,#2f5ed7);

margin:0 -200px;

box-shadow:0 40px 80px rgba(0,0,0,.6);

flex-shrink:0;

}

.card:nth-child(2){
background:linear-gradient(135deg,#2f5ed7,#3a6be0);
}

.card:nth-child(3){
background:linear-gradient(135deg,#3a6be0,#294a7a);
}